* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
}

.conferma-btn {
    background-color: #F7BD49;
    margin-bottom: 10px;
}

.indietro {
    background-color: #49B2F7;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
