<ion-toolbar>
  <ion-title>Login</ion-title>
</ion-toolbar>

<ion-content>
  <div class="formLogin">
    <ion-card>
      <ion-card-header>
        <div class="logo">
          <ion-avatar>
            <img alt="logo" src="../assets/icon/logo.PNG" />
          </ion-avatar>
        </div>
      </ion-card-header>
      <ion-card-content>
        <form #formLogin="ngForm">
          <ion-list>
            <ion-item>
              <ion-label position="floating">username</ion-label>
              <ion-input
                name="username"
                type="text"
                [(ngModel)]="username"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                name="password"
                type="password"
                [(ngModel)]="password"
                required
              ></ion-input>
            </ion-item>
          </ion-list>

          <ion-button
            class="button-orange"
            expand="block"
            type="submit"
            (click)="Login()"
            [disabled]="!formLogin.valid"
            >Login</ion-button
          >
        </form>
        <ion-button
          class="button-orange"
          expand="block"
          routerLink="/registration"
          >Registrati</ion-button
        >
      </ion-card-content>
    </ion-card>

    <p>
      sto fuso diocane in croce, se levi questo commento vedi la lable che
      compare in basso, va sistemato pure questo. vaffanculo vado a dormire sto
      CSS di merda che devo fare dioporchissimo stronzo non c'ho voglia di fare
      sto lavoro di merda. pensi di essere figo a fare tutta la parte
      interessante eh... COGLIONE !!!!!!!!!!!!
    </p>

    <!-- le proprietà della lable di errore stanno nel CSS -->

    <ion-label class="errore">{{labelErrore}}</ion-label>
  </div>
</ion-content>
