<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="formLogin">
    <ion-card>
      <ion-card-header>
        <div class="logo">
          <ion-avatar>
            <img alt="logo" src="../assets/icon/logo.PNG" />
          </ion-avatar>
        </div>
      </ion-card-header>
      <ion-card-content>
        <form #f="ngForm">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input type="text" color="light"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" color="light"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button class="button-orange" expand="block" type="submit"
            >Login</ion-button
          >
        </form>
        <ion-button
          class="button-orange"
          expand="block"
          routerLink="/registration"
          >Registrati</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
