<ion-toolbar>
  <ion-menu-button slot="start" menu="menu-laterale"> </ion-menu-button>
  <ion-title>Homepage</ion-title>
</ion-toolbar>

<div style="width: 100%">
  <div style="width: 100%; display: flex;flex-direction: row;justify-content: space-around;">
    <ion-button class="button-orange" style="width: 49%;" id="open-modal"  (click)="completamentoDatiDistanze()"
    >Ricerca rapida</ion-button>
    <ion-button style="width: 49%;" (click)="displayCheckBox()">
      Filtro
    </ion-button>
  </div>
  <div style="position: absolute;background-color:#2f2f2f;width: 50%;height: 11%;
              display: flex;flex-direction: column; left: 50%;z-index: 3; align-items:start;
              border-bottom-left-radius: 20px;"
              id ="divCheckBox">
    <ion-checkbox labelPlacement="end" style="font-size: 25px;margin-left: 4%;">tutte le cache</ion-checkbox>
    <ion-checkbox labelPlacement="end" style="font-size: 25px;margin-left: 4%;" >solo cache trovate</ion-checkbox>
    <ion-checkbox labelPlacement="end" style="font-size: 25px;margin-left: 4%;">solo cache non trovate</ion-checkbox>
  </div>
</div>


<ion-modal
  #modal
  trigger="open-modal"
  [initialBreakpoint]="0.50"
  [breakpoints]="[0, 0.25, 0.5, 0.75, 1]"
>
  <ng-template>
    <ion-content>
      <ion-searchbar
        style="display: inline-block"
        animated="true"
        placeholder="Cerca una cache"
        [debounce]="500"
        (ionInput)="Filtri($event)"
        (click)="modal.setCurrentBreakpoint(0.75)"
      ></ion-searchbar>

      <ion-list style="padding: 2px">
        <ion-item
          *ngFor="let cache of listaCache;let i = index"
          lines="none"
          (click)="modal.dismiss()"
        >
          <ion-label (click)="calculateAndDisplayRoute(cache.latitudine,cache.longitudine)">
            <h2>{{cache.nome}}</h2>
            <p>{{cache.descrizione}}</p>
            <p style="display: inline-block; margin-right: 20px">
              Difficoltà: {{cache.difficolta}}
            </p>
            <p style="display: inline-block">Distanza: {{arrayDistanze[i]}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- ********************************************************* -->

<ion-content>
  <div class="map" #map>
  </div>
</ion-content>
