<ion-toolbar>
  <ion-menu-button slot="start" menu="menu-laterale"> </ion-menu-button>
  <ion-title>Cache</ion-title>
  <ion-icon
    name="home"
    slot="end"
    class="torna-home"
    routerLink="/homepage"
  ></ion-icon>
</ion-toolbar>

<ion-content>
  <ion-searchbar
    mode="ios"
    animated="true"
    placeholder="Animated"
    [debounce]="500"
    (ionInput)="FiltraRisultati($event)"
  ></ion-searchbar>

  <div class="prova">
    <div
      class="card"
      *ngFor="let cache of listaCacheFiltrate"
      (click)="ScegliCache(cache)"
    >
      <p class="text-title">{{cache.nome}}</p>
      <ion-item class="descrizione">
        <p class="text-body">{{cache.descrizione}}</p>
      </ion-item>
      <p>Difficoltà: {{cache.difficolta}}</p>
    </div>
  </div>
</ion-content>
