/* Stili per l'header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #F7BD49;
  max-width: 400px;
  margin: 0 auto;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* Stili per il titolo */
.title {
  margin: 0;
}

/* Stili per il bottone del menu */
.menu-button {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #F7BD49;
}

/* Stili per il contenitore del bottone "menu" */
.menu-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: #333;
  color: #fff;
}



/* Stili per il menù laterale */
.menu-sidebar {
  position: fixed;
  top: 0;
  left: 329px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
}

.menu-sidebar img {
  width: 30px;
  height: 30px;
}

/* Stili per le voci del menù laterale */
.menu-sidebar a {
  display: block;
  padding: 20px;
  color: #F7BD49;
  text-decoration: none;
  align-items: center;
  font-size: 22px;
}

/* Stili per il bottone della ricerca */
.logo-button {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #F7BD49;
}

.logo-button img{

border-radius: 50%;
box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
}

.mappa {
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
  background-color: #333;
  border-radius: 7%;



}

/* Stili per la mappa */
#map {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
}