<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="cache"></ion-back-button>
  </ion-buttons>
  <ion-title>Cache: {{cache.nome}}</ion-title>
</ion-toolbar>

<ion-content>
  <ion-item style="margin-top: 20px" *ngIf="cacheTrovata" lines="none">
    <ion-label
      color="success"
      style="font-size: 1.3em; height: 45px; display: flex; align-items: center"
      >Cache già trovata!</ion-label
    >
    <ion-icon name="checkmark-outline" color="success"></ion-icon>
  </ion-item>
  <ion-item style="margin-top: 20px" *ngIf="!cacheTrovata" lines="none">
    <ion-label style="display: inline-block; font-size: 1.2em"
      >Hai trovato questa Cache?</ion-label
    >
    <div class="checkbox-apple">
      <input
        class="yep"
        id="check-apple"
        type="checkbox"
        [(ngModel)]="selezionato"
        (click)="VerificaParolaOrdine()"
      />
      <label for="check-apple"></label>
    </div>
    <ion-alert
      trigger="present-alert"
      header="{{headerAlert}}"
      message="{{messageAlert}}"
      [buttons]="alertButtons"
      isOpen="{{isAlertOpen}}"
    ></ion-alert>
  </ion-item>

  <!-- ----------------------------------------- -->
  <div class="formLallero">
    <ion-card>
      <ion-card-header>
        <img [src]="cache.img" />
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>Descrizione e indizi:</ion-card-title>
        {{cache.descrizione}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
