<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="login"></ion-back-button>
  </ion-buttons>
  <ion-title>Registrazione</ion-title>
</ion-toolbar>

<ion-content color="primary">
  <div class="formRegistration">
    <ion-card>
      <ion-card-header>
        <div class="logo">
          <ion-avatar>
            <img alt="logo" src="../assets/icon/logo.PNG" />
          </ion-avatar>
        </div>
      </ion-card-header>

      <ion-card-content>
        <form #registrazioneForm="ngForm" (ngSubmit)="Conferma()">
          <!-- nel metodo Conferma() ci va passato qualcosa -->
          <ion-list>
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input name="nome" type="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Cognome</ion-label>
              <ion-input name="cognome" type="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="dataDiNascita" type="date" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Numero di cellulare</ion-label>
              <ion-input
                name="numeroDiCellulare"
                type="tel"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input name="email" type="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input name="password" type="password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Conferma Password</ion-label>
              <ion-input
                name="confermaPassword"
                type="password"
                required
              ></ion-input>
            </ion-item>
          </ion-list>

          <ion-button class="button-orange" expand="block" type="submit"
            >Registrati</ion-button
          >
        </form>
        <!-- queste classi che vedi nei bottoni stanno in global.scss -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
