

<ion-content [fullscreen]="true">
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome cache</ion-label>
        <ion-input
          name="nome"
          type="text"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">descrizione cache</ion-label>
        <ion-input
          name="descrizione"
          type="text"
        ></ion-input>
      </ion-item>
    </ion-list>
    <!-- elementi per la mappa-->
    <label>latitudine:{{selectedCoords.lat}}</label>
    <label>longitudine:{{selectedCoords.lng}}</label>
    <div style="position: absolute;width: 50%;height: 50%;border-radius: 10%;" class="mapPicker" #mapPicker>
    </div>
     <!-- elementi per la mappa-->
  </form>
</ion-content>
